body {
    padding: 0;
    margin: 20px 0 0 20px;
    background-color: #ffffff;
}

.column {
    position: relative;
    float: left;
}

.column.input {
/*    background-color: #dddddd;*/
}

.column textarea, .column.output {
    margin: 20px;
    padding: 20px;
    outline: none;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: #333333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    border: 1px solid #aaaaaa;
    resize: none;
    line-height: 1.5em;
    overflow: auto;
}

.column.example textarea, .column.output {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    background-color: #eeeeee;
}

.column.input textarea {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .25);
    background-color: #ffffff;
}

/*.column.output > span {*/
#appContainer .gwt-HTML > span {
    display: inline-block;
}

#appContainer span.right {
    background: lightgreen;
}

#appContainer span.error {
    background: red;
    color: white;
}

#appContainer span.not_matter {
    background: orange;
    color: white;
}
